<table class="data-tables table table-bordered table-hover">
	<thead>
	  <tr>
	    <th>Timestamp</th>
		<th width="30%">Name</th>
		<th width="30%">Address</th>
		<th width="20%">Schedule(s)</th>
		<th width="20%">Action</th>
	  </tr>
	</thead>
	<tbody>
	{% for account in accounts %}
	  <tr>
	    <td>{{ account.createddate }}</td>
		<td>{{ account.name }}</td>
		<td>{{ account.billingstreet }}</td>
		<td>{{ account.schedule }}</td>
		<td class="text-center">
		  &nbsp;
		</td>
	  </tr>
	{% endfor %}
	</tbody>
</table>